<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <plist version="1.0">
    <dict>
      <key>Program</key>
        <string>/usr/local/bin/node</string>
      <key>ProgramArguments</key>
        <array>
          <string>/Users/dawehner/Projects/standup-reminder/index.js</string>
        </array>
      <key>Label</key>
        <string>com.dawehner.standup_reminder</string>
      <key>RunAtLoad</key>
        <true/>
      <key>StandardOutPath</key>
        <string>/var/log/standup_reminder.log</string>
      <key>StandardErrorPath</key>
        <string>/var/log/standup_reminder_error.log</string>
    </dict>
  </plist>
